@model BookEntry.Web.Models.WriterModel

@{
    ViewData["Title"] = "AddWriter";
}

<h1>AddWriter</h1>

<h4>WriterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWriter" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="WritterName" class="control-label"></label>
                <input asp-for="WritterName" class="form-control" />
                <span asp-validation-for="WritterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPhotoUrl" class="control-label">Cover Photo</label>
                <input asp-for="CoverPhotoUrl" type="file" class="form-control" />
                <span asp-validation-for="CoverPhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
